<template>
  <v-app>
    <v-content>
      <GetIssData/>
    </v-content>
  </v-app>
</template>

<script>
import GetIssData from './components/GetIssData'

export default {
  name: 'App',
  components: {
    GetIssData
  },
  data () {
    return {
      //
    }
  }
}
</script>
